<h1 style="text-transform: capitalize;"> Criterion </h1>
<ng-container *ngIf="this.loaded; else loading">
    <mat-form-field>
        <mat-label> Name </mat-label>
        <input matInput [formControl]="this.nameFormControl" style="width: 100%;" autocomplete="off">
    </mat-form-field>
    <button *ngIf="!this.edit" mat-icon-button (click)="openEditCriterionDialog()"> <mat-icon> edit </mat-icon> </button>
    <div style="display: table;">
        <h3 style="display: table-cell;"> Values </h3> 
        <ng-container *ngIf="!this.edit" style="display: table-cell;"> <button mat-icon-button (click)="openAddNewValueCriterion()"> <mat-icon> add </mat-icon> </button> </ng-container>
    </div>
    <div *ngFor="let v of criterion.values; let i = index" style="width: 100x;">
        {{v.name}} 
        <ng-container *ngIf="this.edit">
            <button mat-icon-button (click)="removeValue(i)"> <mat-icon> delete </mat-icon> </button>
        </ng-container>
        <button *ngIf="!this.edit" mat-icon-button (click)="openUpdateValueCriterion(v)"> <mat-icon> edit </mat-icon> </button>
        <button *ngIf="!this.edit" mat-icon-button (click)="openDeleteValueCriterion(v)"> <mat-icon> delete </mat-icon> </button>
    </div>
    <ng-container *ngIf="this.edit">
        <mat-form-field>
            <mat-label> Values </mat-label>
            <input #value matInput placeholder="Add the values here" autocomplete="off">
        </mat-form-field>
        <a mat-button (click)="addValue(value)"> <mat-icon> add </mat-icon> </a>
    </ng-container>
</ng-container>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
