<h1>{{this.typeStr}}</h1>
<ng-container *ngIf="this.loaded; else loading">
    <form [formGroup]="this.methodElementFormGroup">
        <mat-form-field id="meID" style="width: 100%;" type="text">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-checkbox formControlName="abstract" matInput> Abstract </mat-checkbox>
        <div></div>
        <mat-label>Figure</mat-label>
        <input formControlName="figure" type="file">
    </form>
</ng-container>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>