<ng-container *ngIf="!this.edit">
    <p *ngIf="!this.edit" > Id del map es {{this.id}} </p>
    <a mat-button *ngIf="!this.edit" (click)="borraMap()"> Delete </a>
    <br>
    <br>
    <table style= "border: 1px solid black;">
        <tr>
          <th>Goal</th>
          <th>Strategy</th>
          <th>Target</th>
        </tr>
        <tbody>
          <tr *ngFor="let m of this.map.Rows; let i = index; let l = last">
            <td style="padding-right:10px; border: 1px solid black;">
              {{m.Goal}}
            </td>
            <td style="padding-right:10px; border: 1px solid black;">
                {{m.Strategy}}
            </td>
            <td style="padding-right:10px; border: 1px solid black;">
                {{m.Target}}
            </td>
            
        </tr>
        </tbody>
      </table>
        
</ng-container>




<ng-container *ngIf="this.loaded;">
    <h1 *ngIf="this.edit" > Creació </h1>
    <mat-form-field *ngIf="this.edit">
        <mat-label> Name </mat-label>
        <input matInput [formControl]="this.nameFormControl" style="width: 100%;" autocomplete="off">
    </mat-form-field>
    <mat-form-field *ngIf="this.edit">
        <mat-label> ID </mat-label>
        <input matInput [formControl]="this.idFormControl" style="width: 100%;" autocomplete="off">
        
    </mat-form-field>
    
    
    <br>
</ng-container>

<br>
<br>
<br>




<ng-container *ngIf="this.edit">
<br>
    <form [formGroup]="FeedBack" (ngSubmit)="submitFinal()">
        <table class="form-group">
          <tr>
            <th>Goal</th>
            <th>Strategy</th>
            <th>Target</th>
          </tr>
          <tbody formArrayName="Rows">
            <tr
              *ngFor="let obj of formArr.controls; let i = index; let l = last"
              [formGroupName]="i"
            >
              <td>
                <input
                  type="textarea"
                  class="form-control"
                  id="Goal"
                  formControlName="Goal"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="Strategy"
                  formControlName="Strategy"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="Target"
                  formControlName="Target"
                />
              </td>
              <td>
                <button
                  
                  (click)="deleteRow(i)"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </td>
              
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="addNewRow()" class="btn btn-dark">
            Add new Row
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
</ng-container>