


<ng-container *ngIf="!this.edit">
  <h1 style="text-transform: capitalize;"> Map </h1>
<mat-divider style="margin-top: 10px;"></mat-divider>

<h2>General information</h2>

<form>
  <mat-form-field>
    <mat-label> ID </mat-label>
    <input matInput [formControl]="this.idFormControl" style="width: 100%;" autocomplete="off">
  </mat-form-field>
<br>
<mat-form-field>
  <mat-label> Name </mat-label>
  <input matInput [formControl]="this.nameFormControl" style="width: 100%;" autocomplete="off">
</mat-form-field>
</form>

<mat-divider style="margin-top: 10px;"></mat-divider>
<h2>Figure / Table</h2>
    <table style= "border: 1px solid black;">
        <tr>
          <th>Goal</th>
          <th>Strategy</th>
          <th>Target</th>
        </tr>
        <tbody>
          <tr *ngFor="let m of this.map.Rows; let i = index; let l = last">
            <td style="padding-right:10px; border: 1px solid black; padding-left:3px;">
              {{m.Goal}}
            </td>
            <td style="padding-right:10px; border: 1px solid black; padding-left:3px;">
                {{m.Strategy}}
            </td>
            <td style="padding-right:10px; border: 1px solid black; padding-left:3px;">
                {{m.Target}}
            </td>
            
        </tr>
        </tbody>
      </table>
<br>

<button mat-raised-button class="button-custom"  *ngIf="this.id !== null && this.id !== undefined && this.id !== ''" (click)="nada()"> Save </button>
<button mat-raised-button class="button-custom" style="margin-left: 5px;" *ngIf="this.id !== null && this.id !== undefined && this.id !== ''" (click)="borraMap()"> Delete </button>

        
</ng-container>




<ng-container *ngIf="this.edit;">
  <h1 style="text-transform: capitalize;"> Map </h1>
  <mat-divider style="margin-top: 10px;"></mat-divider>
  
  <h2>General information</h2>
    <mat-form-field *ngIf="this.edit">
        <mat-label> ID </mat-label>
        <input matInput [formControl]="this.idFormControl" style="width: 100%;" autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="this.edit">
        <mat-label> Name </mat-label>
        <input matInput [formControl]="this.nameFormControl" style="width: 100%;" autocomplete="off">
    </mat-form-field>
    
    <mat-divider style="margin-top: 10px;"></mat-divider>
<h2>Figure / Table</h2>    
</ng-container>



<ng-container *ngIf="this.edit">
<br>
    <form [formGroup]="FeedBack" (ngSubmit)="submitFinal()">
        <table class="form-group">
          <tr>
            <th>Goal</th>
            <th>Strategy</th>
            <th>Target</th>
          </tr>
          <tbody formArrayName="Rows">
            <tr
              *ngFor="let obj of formArr.controls; let i = index; let l = last"
              [formGroupName]="i"
            >
              <td>
                <input
                  type="textarea"
                  class="form-control"
                  id="Goal"
                  formControlName="Goal"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="Strategy"
                  formControlName="Strategy"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="Target"
                  formControlName="Target"
                />
              </td>
              <td>
                <button
                style="color: black; background-color: #ffcecefd; border-radius: 8px;"
                  (click)="deleteRow(i)"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </td>
              
            </tr>
          </tbody>
        </table>
        <button type="button" mat-raised-button style="margin-top: 5px; color: #656565; background-color: #ffe066;" (click)="addNewRow()" class="btn btn-dark">
            Add new Row
          </button>
          <button type="submit" mat-raised-button style="margin-left: 5px; margin-top: 5px; color: #656565; background-color: #ffe066;" class="btn btn-primary">Save</button>
        
      </form>
      <br>

<!--
      <h2>Intention</h2>
        <form>
          <ng-container style="display: table;">
            <mat-form-field style="width: 95%;">
              <mat-label>Goal</mat-label>
              <input matInput type="text" aria-label="intention" [value]="null" [formControl]="goalFormControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="intentionSelected($event)" >
                  <mat-option *ngFor="let option of goalsFilter | async" [value]="option['name']">
                  {{option['name']}}
                  </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <a style="width: 5%;" mat-icon-button (click)="openGoalDialog()"> <mat-icon> add </mat-icon> </a>
        </ng-container>
        </form>
      -->

</ng-container>


