.method-element-div {
    width: 250px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #99cccc;
    padding: 1em;
}

.table-elements {
    border:1px solid black;
    text-align: left;
    padding: 1em;
}