<b style="font-size: 40;"> Method Chunk</b>
<form>
    <mat-form-field style="width: 100%;">
        <mat-label>ID</mat-label>
        <input matInput [disabled]="this.id !== undefined" [value]="this.id">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput [value]="">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <input matInput [value]="">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>intention</mat-label>
        <input matInput [value]="">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Process part</mat-label>
        <input matInput [value]="">
    </mat-form-field>
</form>