<h1> Method Chunk</h1><div *ngIf="this.loaded" style="display: flex; justify-content: flex-end">
        <button class="button-custom" mat-raised-button *ngIf="this.id !== null && this.id !== undefined && this.id !== ''" (click)="this.navigatorService.tableView = !this.navigatorService.tableView"> {{ this.navigatorService.tableView ? 'Edit view' : 'Table view'}} </button>
    </div>
<mat-divider style="margin-top: 10px;"></mat-divider>
<ng-container *ngIf="this.loaded; else loading">
    <ng-container *ngIf="!this.navigatorService.tableView; else tableBlock">
        <h2>General information</h2>
        <form [formGroup]="methodChunkFormGroup">
            <mat-form-field style="width: 100%;">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" type="text" autocomplete="off">
            </mat-form-field>
        </form>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <!--
        <h2>Strategy</h2>
        <form>
            <ng-container style="display: table;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Intention</mat-label>
                        <input matInput type="text" aria-label="intention" [value]="this.methodChunk.intention !== null ? this.methodChunk.intention.name : null" [formControl]="intentionFormControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="intentionSelected($event)" >
                            <mat-option *ngFor="let option of goalsFilter | async" [value]="option['name']">
                            {{option['name']}}
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </form>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Strategy Version Prueba</h2>
        <form>
            <ng-container style="display: table;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Strategy</mat-label>
                        <input matInput type="text" aria-label="strategy" [value]="this.strategy !== null ? this.strategy : null" [formControl]="strategyFormControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="strategySelected($event)" >
                            <mat-option *ngFor="let x of strategyFilter | async" [value]="x['name']">
                            {{x['name']}}
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </form>
    -->
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Prueba 3 Stackblitz</h2>
        <form class="form">
            <mat-form-field style="width: 100%">
              <input
                matInput
                placeholder="Strategy"
                aria-label="Strategy"
                [matAutocomplete]="auto"
                [formControl]="strategyFormControl"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let st of strategyFilter | async"
                  [value]="st.name"
                >
                  <span>{{ st.id }} | {{ st.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>









        <br>
        <br>
        <br>
        <h2>Process part</h2>
        <ng-container *ngIf="this.methodChunk.processPart !== null; else noActivity">
            <div class="drop-div" style="justify-content: center;">
                <div class="activity-div">
                    <app-method-element [id]="this.methodChunk.processPart.id" [reduced]="false"></app-method-element>
                    <button mat-icon-button (click)="removeActivity()"> <mat-icon> delete </mat-icon> </button>
                    <button mat-icon-button (click)="openMethodElementDialogEdit(this.methodChunk.processPart.id, 3, 'Activity')"> <mat-icon> edit </mat-icon> </button>
                </div>
            </div>
        </ng-container>
        <ng-template #noActivity>
            <div class="drop-div" cdkDropList id="activity" [cdkDropListConnectedTo]="['activityList']" (cdkDropListDropped)="addActivity($event)" style="justify-content: center;"
            (cdkDropListEntered)="this.showPlaceHolderActivity = false" (cdkDropListExited)="this.showPlaceHolderActivity = true">
                <div *ngIf="this.showPlaceHolderActivity" class="method-element-div">
                    <h4 style="text-align: center;"> Drag here an activity or add </h4>
                    <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openMethodElementDialogNew(null, 3, 'Activity')"> <mat-icon> add </mat-icon> </button> </h4>
                    <h4 style="text-align: center;"> a new one </h4>
                </div>
            </div>
        </ng-template>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Tools</h2>
        <div class="drop-div"
        cdkDropList id="tools" [cdkDropListConnectedTo]="['toolList']" (cdkDropListDropped)="addTool($event)"
        (cdkDropListEntered)="this.showPlaceHolderTool = false" (cdkDropListExited)="this.showPlaceHolderTool = true">
            <ng-container *ngFor="let t of this.methodChunk.tools; let i = index" style="width: 100px;">
                <div class="method-element-div">
                    <app-method-element [id]="t.id" [reduced]="false"></app-method-element>
                    <button mat-icon-button (click)="removeTool(i)"> <mat-icon> delete </mat-icon> </button>
                    <button mat-icon-button (click)="openMethodElementDialogEdit(this.methodChunk.processPart.id, 1, 'Tool')"> <mat-icon> edit </mat-icon> </button>
                </div>
            </ng-container>
            <div *ngIf="this.showPlaceHolderTool" class="method-element-div">
                <h4 style="text-align: center;"> Drag here a tool or add </h4>
                <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openMethodElementDialogNew(null, 1, 'Tool')"> <mat-icon> add </mat-icon> </button> </h4>
                <h4 style="text-align: center;"> a new one </h4>
            </div>
        </div>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Situation</h2>
        <div class="drop-div"
        cdkDropList id="situation" [cdkDropListConnectedTo]="['artefactList']" (cdkDropListDropped)="addConsumedArtefact($event)"
        (cdkDropListEntered)="this.showPlaceHolderSituation = false" (cdkDropListExited)="this.showPlaceHolderSituation = true">
            <ng-container *ngFor="let t of this.methodChunk.situation; let j = index">
                <div class="method-element-div">
                    <app-method-element [id]="t.id" [reduced]="false"></app-method-element>
                    <button mat-icon-button (click)="removeConsumedArtefact(j)"> <mat-icon> delete </mat-icon> </button>
                    <button mat-icon-button (click)="openMethodElementDialogEdit(t.id, 2, 'Artefact')"> <mat-icon> edit </mat-icon> </button>
                </div>
            </ng-container>
            <div *ngIf="this.showPlaceHolderSituation" class="method-element-div">
                <h4 style="text-align: center;"> Drag here an artefact or add </h4>
                <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openMethodElementDialogNew(null, 2, 'Artefact')"> <mat-icon> add </mat-icon> </button> </h4>
                <h4 style="text-align: center;"> a new one </h4>
            </div>
        </div>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Product part</h2>
        <div class="drop-div"
        cdkDropList id="productPart" [cdkDropListConnectedTo]="['artefactList']" (cdkDropListDropped)="addProducedArtefact($event)"
        (cdkDropListEntered)="this.showPlaceHolderProductPart = false" (cdkDropListExited)="this.showPlaceHolderProductPart = true">
            <ng-container *ngFor="let t of this.methodChunk.productPart; let k = index">
                <div class="method-element-div">
                    <app-method-element [id]="t.id" [reduced]="false"></app-method-element>
                    <button mat-icon-button (click)="removeProducedArtefact(k)"> <mat-icon> delete </mat-icon> </button>
                    <button mat-icon-button (click)="openMethodElementDialogEdit(t.id, 2, 'Artefact')"> <mat-icon> edit </mat-icon> </button>
                </div>
            </ng-container>
            <div *ngIf="this.showPlaceHolderProductPart" class="method-element-div">
                <h4 style="text-align: center;"> Drag here an artefact or add </h4>
                <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openMethodElementDialogNew(null, 5, 'Artefact')"> <mat-icon> add </mat-icon> </button> </h4>
                <h4 style="text-align: center;"> a new one </h4>
            </div>
        </div>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Roles</h2>
        <div class="drop-div"
        cdkDropList id="roles" [cdkDropListConnectedTo]="['roleList']" (cdkDropListDropped)="addRole($event)"
        (cdkDropListEntered)="this.showPlaceHolderRole = false" (cdkDropListExited)="this.showPlaceHolderRole = true">
            <ng-container *ngFor="let t of this.methodChunk.roles; let h = index">
                <div class="method-element-div">
                    <app-method-element [id]="t.me.id" [reduced]="false"></app-method-element>
                    <mat-checkbox [(ngModel)]="t.isSet"> Is set </mat-checkbox>
                    <button mat-icon-button (click)="removeRole(h)"> <mat-icon> delete </mat-icon> </button>
                    <button mat-icon-button (click)="openMethodElementDialogEdit(t.me.id, 4, 'Role')"> <mat-icon> edit </mat-icon> </button>
                </div>
            </ng-container>
            <div *ngIf="this.showPlaceHolderRole" class="method-element-div">
                <h4 style="text-align: center;"> Drag here a role or add </h4>
                <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openMethodElementDialogNew(null, 4, 'Role')"> <mat-icon> add </mat-icon> </button> </h4>
                <h4 style="text-align: center;"> a new one </h4>
            </div>
        </div>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <h2>Context criteria</h2>
        <div class="drop-div"
        cdkDropList id="criteria" [cdkDropListConnectedTo]="['criterionList']" (cdkDropListDropped)="addCriterion($event)"
        (cdkDropListEntered)="this.showPlaceHolderCriterion = false" (cdkDropListExited)="this.showPlaceHolderCriterion = true">
            <ng-container *ngFor="let t of this.methodChunk.contextCriteria; let l = index">
                <div class="method-element-div">
                    <h4> {{t.criterionName}} </h4>
                    <mat-form-field>
                        <mat-label> Values </mat-label>
                        <mat-select multiple [(value)]="t.valuesNamesArray" (valueChange)="criterionValueChanges(t, $event)">
                            <mat-option *ngFor="let v of t.allValues" [value]="v.name"> {{v.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="removeCriterion(l)"> <mat-icon> delete </mat-icon> </button>
                </div>
            </ng-container>
            <div *ngIf="this.showPlaceHolderCriterion" class="method-element-div">
                <h4 style="text-align: center;"> Drag here a criterion </h4>
                <h4 style="text-align: center;"> <button mat-icon-button class="add-button" (click)="openCriterionDialog()"> <mat-icon> add </mat-icon> </button> </h4>
                <h4 style="text-align: center;"> a new one </h4>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button mat-raised-button class="button-custom" (click)="saveMethodChunk()"> Save </button>
            <button mat-raised-button class="button-custom" style="margin-left: 5px;" *ngIf="this.id !== null && this.id !== undefined && this.id !== ''" (click)="deleteMethodChunk()"> Delete </button>
        </div>
    </ng-container>
    <ng-template #tableBlock>
        <div style="margin-top: 10px;">
            <table id="table" style="border-collapse: collapse;">
                <tr class="table-elements">
                    <th class="table-elements"> id </th>
                    <th class="table-elements"> {{this.methodChunk.id}} </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Related chunks </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.me_struct_rel_to.length > 0">
                            <ng-container *ngFor="let sr of this.methodChunk.me_struct_rel_to; let i = index">
                                {{ sr.fromMC }} {{ sr.rel == 1 ? 'specializes' : sr.rel == 2 ? 'aggregates' : sr.name }} {{ sr.toMC }}
                                <ng-container *ngIf="i != this.methodChunk.me_struct_rel_to.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="this.methodChunk.me_struct_rel_from.length > 0">
                            <ng-container *ngFor="let sr of this.methodChunk.me_struct_rel_from; let i = index">
                                {{ sr.fromMC }} {{ sr.rel == 1 ? 'specializes' : sr.rel == 2 ? 'aggregates' : sr.name }} {{ sr.toMC }}
                                <ng-container *ngIf="i != this.methodChunk.me_struct_rel_from.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="this.methodChunk.activity_rel_from.length > 0">
                            <ng-container *ngFor="let sr of this.methodChunk.activity_rel_from; let i = index">
                                {{ sr.fromMC }} {{ sr.name }} {{ sr.toMC }}
                                <ng-container *ngIf="i != this.methodChunk.activity_rel_from.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="this.methodChunk.activity_rel_to.length > 0">
                            <ng-container *ngFor="let sr of this.methodChunk.activity_rel_to; let i = index">
                                {{ sr.fromMC }} {{ sr.name }} {{ sr.toMC }}
                                <ng-container *ngIf="i != this.methodChunk.activity_rel_to.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Abstract </th>
                    <th class="table-elements"> {{ this.methodChunk.abstract == 0 ? false : true }} </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Name </th>
                    <th class="table-elements"> {{ this.methodChunk.name }} </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Description </th>
                    <th class="table-elements"> {{ this.methodChunk.description }} </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Context criteria </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.contextCriteria.length > 0; else noData">
                            <ng-container *ngFor="let cc of this.methodChunk.contextCriteria; let i = index">
                                {{cc.criterionName}} = &#123; 
                                <ng-container *ngFor="let v of cc.valuesNamesArray; let j = index">
                                    {{v}} 
                                    <ng-container *ngIf="j != cc.valuesNamesArray.length - 1"> ,&nbsp; </ng-container>
                                </ng-container> 
                                &#125;
                                <ng-container *ngIf="i != this.methodChunk.contextCriteria.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Intention </th>
                    <th class="table-elements"> {{ this.methodChunk.intention.name }} </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Situation </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.situation.length > 0; else noData">
                            <ng-container *ngFor="let ar of this.methodChunk.situation; let i = index">
                                {{ ar.id }} - {{ ar.name }} <ng-container *ngIf="ar.description !== '' && ar.description !== null"> : {{ ar.description }}</ng-container>
                                <ng-container *ngIf="i != this.methodChunk.situationlength - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Process part </th>
                    <th class="table-elements"> 
                        {{ this.methodChunk.processPart.id }} - {{ this.methodChunk.processPart.name }} 
                        <ng-container *ngIf="this.methodChunk.processPart.description !== '' && this.methodChunk.processPart.description !== null"> : {{ this.methodChunk.processPart.description }}</ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Product part </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.productPart.length > 0; else noData">
                            <ng-container *ngFor="let ar of this.methodChunk.productPart; let i = index">
                                {{ ar.id }} - {{ ar.name }}<ng-container *ngIf="ar.description !== '' && ar.description !== null"> : {{ ar.description }}</ng-container>
                                <ng-container *ngIf="i != this.methodChunk.productPart.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Roles </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.roles.length > 0; else noData">
                            <ng-container *ngFor="let r of this.methodChunk.roles; let i = index">
                                {{ r.me.id }} - <ng-container *ngIf="r.isSet"> Set of </ng-container> {{ r.me.name }} <ng-container *ngIf="r.me.description !== '' && r.me.description !== null"> : {{ r.me.description }}</ng-container>
                                <ng-container *ngIf="i != this.methodChunk.roles.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
                <tr class="table-elements">
                    <th class="table-elements"> Tools </th>
                    <th class="table-elements">
                        <ng-container *ngIf="this.methodChunk.tools.length > 0; else noData">
                            <ng-container *ngFor="let t of this.methodChunk.tools; let i = index">
                                {{ t.id }} - {{ t.name }}<ng-container *ngIf="t.description !== '' && t.description !== null"> : {{ t.description }}</ng-container>
                                <ng-container *ngIf="i != this.methodChunk.tools.length - 1"> ,&nbsp; </ng-container>
                            </ng-container>
                        </ng-container>
                    </th>
                </tr>
            </table>
        </div>
        <button mat-raised-button class="button-custom" style="margin-top: 10px;" (click)="exportPDF()"> Export to pdf </button>
    </ng-template>
</ng-container>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
<ng-template #noData> - </ng-template>