<mat-toolbar style="height: 60px; position: fixed; z-index: 100;" color="primary">
  <a style="height: inherit;" href="https://dogo4ml.upc.edu/en" target="_blank">
    <img style="height: inherit;" src="../assets/DOGO4ML.png" alt="DOGO4ML">
  </a>
  <h1 style="margin-left: 10px; font-size: 35px;">SOPCOM</h1>
  <a style="height: inherit; right: 0; position: absolute;" href="https://gessi.upc.edu/en" target="_blank">
    <img style="height: inherit;" src="../assets/GESSI.jpg" alt="Software and Services Engineering Group">
  </a>
</mat-toolbar>
<div style="padding-top: 60px;">
  <div style="width: 30%; height: -webkit-fill-available; position: fixed; border-right: 2px solid #99cccc;">
    <app-navigator></app-navigator>
  </div>
  <div style="width: 70%; padding: 2em; margin-left: 30%;">
    <router-outlet></router-outlet>
  </div>
</div>