<mat-toolbar style="height: 60px;">
  <a style="height: inherit;" href="https://dogo4ml.upc.edu/en" target="_blank">
    <img style="height: inherit;" src="../assets/DOGO4ML.png" alt="DOGO4ML">
  </a>
  <a style="height: inherit;" href="https://gessi.upc.edu/en" target="_blank">
    <img style="height: inherit;" src="../assets/GESSI.jpg" alt="Software and Services Engineering Group">
  </a>
  <span>SOPCOM</span>
</mat-toolbar>
<div style="display: flex;">
  <div style="width: 35%; border: 2px solid #99cccc; height: fit-content; border-radius: 25px; padding: 1em; position: fixed;">
    <app-navigator></app-navigator>
  </div>
  <div style="width: 37%; border: 2px; padding: 1em"></div>
  <div style="width: 65%;">
    <router-outlet></router-outlet>
  </div>
</div>