<h2  mat-dialog-title [innerHTML]="this.modalTitle">Repository</h2>
<mat-dialog-content>
    <mat-tab-group [selectedIndex]="selectedTabIndex"
                    (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Select Repository"> 
            <form [formGroup]="selectRepositoryForm" style="width: 100%; height: auto;">
                <div class="row">
                    <mat-form-field subscriptSizing="dynamic" appearance="outline" style="flex-grow: 1;">
                        <mat-label>
                            Select Repository
                        </mat-label>
                        <mat-select formControlName="selectedRepositoryControl"
                            (selectionChange)="onSelectRepository($event.value)">
                            <mat-option *ngFor="let repository of navigatorService.repositoryList.value" [value]="repository.id">{{repository.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div style="padding: 5px; align-content:center">
                        <button mat-icon-button (click)="deleteSelectedRepository()"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Update Repository" [disabled]="this.selectedRepository == null">
            <form [formGroup]="updateRepositoryForm">
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label> Repository Id </mat-label>
                    <input matInput formControlName="repositoryIdControl" placeholder="Repository Id" [value]="this.selectedRepository?.id">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label> Repository Name </mat-label>
                    <input matInput formControlName="repositoryNameControl" placeholder="Repository Name"  [value]="this.selectedRepository?.name">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label> Repository Description </mat-label>
                    <input matInput formControlName="repositoryDescriptionControl" placeholder="Repository Description (Optional)"  [value]="this.selectedRepository?.name">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label> Repository Status
                    </mat-label>
                    <mat-select formControlName="repositoryStatusSelectControl" placeholder="Repository Status" >
                            <mat-option *ngFor="let repoStatus of navigatorService.repositoryStatusList" [value]="repoStatus.id">{{repoStatus.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab label="Add Repository"> 
            <form [formGroup]="createRepositoryForm">
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label>
                        Repository Id
                    </mat-label>
                    <input matInput formControlName="repositoryIdControl" placeholder="Repository Id">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label>
                        Repository Name
                    </mat-label>
                    <input matInput formControlName="repositoryNameControl" placeholder="Context Name">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" >
                    <mat-label> Repository Description </mat-label>
                    <input matInput formControlName="repositoryDescriptionControl" placeholder="Repository Description (Optional)"  [value]="this.selectedRepository?.name">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" appearance="outline" style="display: none;">
                    <mat-label>
                        Context Type
                    </mat-label>
                    <mat-select formControlName="repositoryStatusSelectControl" placeholder="Repository Status" >
                        <mat-option *ngFor="let repoStatus of navigatorService.repositoryStatusList" [value]="repoStatus.id">{{repoStatus.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Close</button>
    <button mat-flat-button *ngIf="selectedTabIndex != 0" (click)="onSubmit()">{{(selectedTabIndex == 1) ? "Update" : "Submit"}}</button>
</mat-dialog-actions>