<ng-container>
  <h1 style="text-transform: capitalize; margin: 0;"> Map </h1>
<mat-divider style="margin: .5rem 0;"></mat-divider>

<!-- <h2>General information</h2> -->
<div class="row" >
  <form [formGroup]="mapFormGroup" >
    <div class="col">
      <mat-form-field style="max-width: 300px; margin: 0 1rem;">
        <mat-label> ID </mat-label>
        <input matInput formControlName="mapId" style="width: 100%;" autocomplete="off">
      </mat-form-field>
      <mat-form-field style="max-width: 300px; margin:0 1rem">
        <mat-label> Name </mat-label>
        <input matInput formControlName="mapName" style="width: 100%;" autocomplete="off">
      </mat-form-field>
      <div class="row">
        <button [disabled]="!editable" style="margin: .5rem 1rem; color: #656565; background-color: #ffe066;" mat-raised-button (click)="submitMap()">Submit Map</button>
        <button *ngIf="currentMap!= undefined" [disabled]="!editable" style="margin: .5rem ; color: #656565; background-color: #ffe066;" mat-raised-button (click)="deleteMap();"><mat-icon> delete </mat-icon> Delete Map</button>  
      </div>
    </div>
  </form>
<ng-container *ngIf="this.currentMap != undefined && this.editable">
  <form [formGroup]="mapEditFormGroup">
    <div class="row">
      <div class="col controls">
        <button (click)="toggleAddElement(EditMode.Goal)"  mat-raised-button class="btn btn-primary"><mat-icon>add</mat-icon>Create New Goal</button>
        <button (click)="toggleAddElement(EditMode.Strategy)"  mat-raised-button class="btn btn-primary"><mat-icon>add</mat-icon>Create Strategy</button>
        <button (click)="updateSelectedElementName();" class="btn btn-primary" [disabled]="selectedId == undefined" mat-raised-button >Update Selected Element</button>  
      </div>
      <div class="col controls">
        <mat-form-field>
          <mat-label>Goal</mat-label>
          <input matInput formControlName="goalName" type="text" placeholder="Goal Name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Strategy</mat-label>
          <input matInput formControlName="strategyName" type="text" placeholder="Strategy Name"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Update</mat-label>
          <input matInput formControlName="updateName" type="text" placeholder="New Name"/>
        </mat-form-field>
      </div>
      <div class="col controls">
        <button (click)="toggleAddElement(EditMode.None)" mat-raised-button class="btn btn-cancel" [disabled]="this.editMode != EditMode.Goal" ><mat-icon>cancel</mat-icon></button>
        <button (click)="toggleAddElement(EditMode.None)" mat-raised-button class="btn btn-cancel" [disabled]="this.editMode != EditMode.Strategy"><mat-icon>cancel</mat-icon></button>
        <button (click)="deleteSelectedElement()" [disabled]="selectedId == undefined" mat-raised-button class="btn btn-cancel"><mat-icon>delete</mat-icon></button>
      </div>
      <div class="col controls">
        <div>
          <div class="row info"  *ngIf="this.editMode == EditMode.Goal"><mat-icon>help</mat-icon><p class="info">Click on map to create goal</p></div>
        </div>
        <div>
          <div class="row info" *ngIf="this.editMode == EditMode.Strategy"><mat-icon>help</mat-icon><p class="info">Drag from -> to goal to create strategy</p></div>
        </div>
        <div></div>
      </div>
    </div>
  </form>
</ng-container>
</div>
</ng-container>
<!--
  <ng-container *ngIf="this.currentMap != undefined">
    <mat-divider style="margin-top: 10px; margin-bottom: 1rem;"></mat-divider>
    <h2>Graph</h2>
  </ng-container>
  -->
  <p *ngIf="currentMap != undefined" class="info">Changes in the graphical map editor are saved automatically once done
      <button mat-icon-button style="border-radius: 100px;" (click)="instructions_popup();"><mat-icon>help</mat-icon></button>
  </p>
<div id="id-map" #map style="width: 99%; height: 550px; border: 1px solid lightgray;"></div>
