<h1 mat-dialog-title> Instructions </h1>

<h2>1. Create Goal</h2>
<p>     Write the name of the goal in the designated area</p>
<p>     Click Create New Goal</p>
<p>     Select the position in the graph where the goal will be created</p>
<h2>2. Create Strategy</h2>
<p>     Write the name of the strategy in the designated area</p>
<p>     Click Create New Strategy</p>
<p>     Select the source Goal on the graph and drag the mouse to the Target Goal</p>
<h2>3. Update Element</h2>
<p>     Select a Strategy or a Goal clicking on it, the color of the selected element will slightly change</p>
<p>     Click on Update Selected Element</p>
<p>     Write the new Name on the designated area and click save</p>

<div mat-dialog-actions>
  <button mat-raised-button class="button-custom" style="background-color: #ffe066;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;" (click)="closeDialog()"> Close </button>

  
</div>


