<mat-tab-group animationDuration="0ms">
    <mat-tab label="Chunks" >
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell" [(value)]="filterChunk">
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> <mat-option value="map"> Map </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input style="display: table-cell;" matInput [formControl]="filterControlChunk" [placeholder]="this.filterChunk" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/method-chunk']" style="display: table-cell;"> <mat-icon> add </mat-icon> </a>
        </div>
        
        <ng-container *ngIf="navigatorService.methodChunkFilteredList.length > 0; else noChunks">
            <ng-container *ngFor="let mc of navigatorService.methodChunkFilteredList; let i =index">
                <ng-container *ngIf="this.filterChunk == 'id'">
                    <div style="width: 100%; font-size: large; display: table-cell;"> {{mc.id}} </div> <a style="display: table-cell;" [routerLink]="['/method-chunk', mc.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                </ng-container>
                <ng-container *ngIf="this.filterChunk == 'name'">
                    <div style="width: 100%; font-size: large; display: table-cell;"> {{mc.name}} </div> <a style="display: table-cell;" [routerLink]="['/method-chunk', mc.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                </ng-container>
                <mat-divider *ngIf="this.filterChunk == 'name' || this.filterChunk == 'id'"></mat-divider>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="navigatorService.methodChunkFilteredListwithMap.length > 0">
            <ng-container *ngFor="let mc of navigatorService.methodChunkFilteredListwithMap">
                <ng-container *ngIf="this.filterChunk == 'map'">
                    <div style="width: 100%; font-size: large; display: table-cell;"> {{mc.id}} </div> <a style="display: table-cell;" [routerLink]="['/method-chunk', mc.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                </ng-container>
                <mat-divider *ngIf="this.filterChunk == 'map'"></mat-divider>
            </ng-container>
        </ng-container>
        

            
        
        <ng-template #noChunks>
            No chunks found with {{ filterChunk }}: {{ filterControlChunk.value }}
        </ng-template>
        <ng-template #noChunksMap>
            No chunks found with {{ filterChunk }}: {{ filterControlChunk.value }}
        </ng-template>
    </mat-tab>
    <mat-tab label="Tools">
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell; width: 10%;" [(value)]="filterTool">
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput [formControl]="filterControlTool" style="display: table-cell; width: max-content;" [placeholder]="this.filterTool" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/tool']" style="display: table-cell; width: 10%;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList 
        id="1"
        #toolList="cdkDropList" 
        [cdkDropListData]="this.navigatorService.toolFilteredList" 
        [cdkDropListConnectedTo]="['structList', 'tools']"
        [cdkDropListSortingDisabled]="true">
            <ng-container *ngIf="navigatorService.toolFilteredList.length > 0; else noTools">
                <ng-container *ngFor="let t of navigatorService.toolFilteredList">
                    <ng-container *ngIf="this.filterTool == 'id'">
                        <div cdkDrag [cdkDragData]="t" class="dragable"> {{t.id}} </div> <a style="display: table-cell;" [routerLink]="['/tool', t.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterTool == 'name'">
                        <div cdkDrag [cdkDragData]="t" class="dragable"> {{t.name}} </div> <a style="display: table-cell;" [routerLink]="['/tool', t.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noTools>
                No tools found with {{ filterTool }}: {{ filterControlTool.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Artefacts">
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell; width: 10%;" [(value)]="filterArtefact"> 
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput [formControl]="filterControlArtefact" style="display: table-cell;" [placeholder]="this.filterArtefact" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/artefact']" style="display: table-cell;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList 
        id="2"
        #artefactList="cdkDropList" 
        [cdkDropListData]="this.navigatorService.artefactFilteredList"
        [cdkDropListConnectedTo]="['structList', 'artefactList', 'situation', 'productPart']">
            <ng-container *ngIf="navigatorService.artefactFilteredList.length > 0; else noArtefacts">
                <ng-container *ngFor="let ar of navigatorService.artefactFilteredList">
                    <ng-container *ngIf="this.filterArtefact == 'id'">
                        <div [id]="ar.id" cdkDrag [cdkDragData]="ar" class="dragable"> {{ar.id}} </div> <a style="display: table-cell;" [routerLink]="['/artefact', ar.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterArtefact == 'name'">
                        <div [id]="ar.id" cdkDrag [cdkDragData]="ar" class="dragable"> {{ar.name}} </div> <a style="display: table-cell;" [routerLink]="['/artefact', ar.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noArtefacts>
                No artefact found with {{ filterArtefact }}: {{ filterControlArtefact.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Activities">
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell; width: 10%;" [(value)]="filterActivity">
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput [formControl]="filterControlActivity" style="display: table-cell;" [placeholder]="this.filterActivity" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/activity']" style="display: table-cell;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList 
        id="3"
        #activityList="cdkDropList" 
        [cdkDropListData]="this.navigatorService.activityFilteredList" 
        [cdkDropListConnectedTo]="['structList', 'activityList', 'activity']">
            <ng-container *ngIf="navigatorService.activityFilteredList.length > 0; else noActivities">
                <ng-container *ngFor="let ac of navigatorService.activityFilteredList">
                    <ng-container *ngIf="this.filterActivity == 'id'">
                        <div cdkDrag [cdkDragData]="ac" class="dragable"> {{ac.id}} </div> <a style="display: table-cell;" [routerLink]="['/activity', ac.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterActivity == 'name'">
                        <div cdkDrag [cdkDragData]="ac" class="dragable"> {{ac.name}} </div> <a style="display: table-cell;" [routerLink]="['/activity', ac.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noActivities>
                No activity found with {{ filterActivity }}: {{ filterControlActivity.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Roles">
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell; width: 10%;" [(value)]="filterRole">
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput [formControl]="filterControlRole" style="display: table-cell;" [placeholder]="this.filterRole" autocomplete="off"> 
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/role']" style="display: table-cell;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList
        id="4"
        #roleList="cdkDropList" 
        [cdkDropListData]="this.navigatorService.roleFilteredList"
        [cdkDropListConnectedTo]="['structList', 'roles']">
            <ng-container *ngIf="navigatorService.roleFilteredList.length > 0; else noRoles">
                <ng-container *ngFor="let r of navigatorService.roleFilteredList">
                    <ng-container *ngIf="this.filterRole == 'id'">
                        <div cdkDrag [cdkDragData]="r" class="dragable"> {{r.id}} </div> <a style="display: table-cell;" [routerLink]="['/role', r.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterRole == 'name'">
                        <div cdkDrag [cdkDragData]="r" class="dragable"> {{r.name}} </div> <a style="display: table-cell;" [routerLink]="['/role', r.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noRoles>
                No role found with {{ filterRole }}: {{ filterControlRole.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Criteria">
        <div style="display: table; width: 100% !important;">
            <mat-form-field style="margin-top: 0.5em; width: 100% !important;">
                <input matInput [formControl]="filterControlCriterion" style="display: table-cell;" [placeholder]="this.filterCriterion" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/criterion']" style="display: table-cell;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList #criterionList="cdkDropList" [cdkDropListData]="this.navigatorService.criterionFilteredList"
        [cdkDropListConnectedTo]="['criteria']">
            <ng-container *ngIf="navigatorService.criterionFilteredList.length > 0; else noCriterions">
                <ng-container *ngFor="let r of navigatorService.criterionFilteredList">
                    <div cdkDrag [cdkDragData]="r"  class="dragable"> {{r.criterionName}} </div> <a style="display: table-cell;" [routerLink]="['/criterion', r.criterionId]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noCriterions>
                No criterion found with {{ filterCriterion }}: {{ filterControlCriterion.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Maps">
        <div style="display: table;">
            <mat-form-field class="filter-selection">
                <mat-select style="display: table-cell; width: 10%;" [(value)]="filterMap">
                    <mat-select-trigger>
                        <mat-icon>filter_alt</mat-icon>
                    </mat-select-trigger>
                    <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput [formControl]="filterControlMap" style="display: table-cell; width: max-content;" [placeholder]="this.filterMap" autocomplete="off">
            </mat-form-field>
            <a mat-icon-button [routerLink]="['/map']" style="display: table-cell; width: 10%;"> <mat-icon> add </mat-icon> </a>
        </div>
        <div cdkDropList #mapList="cdkDropList" [cdkDropListData]="this.navigatorService.mapFilteredList" 
        [cdkDropListConnectedTo]="['maps']"
        [cdkDropListSortingDisabled]="true">
            <ng-container *ngIf="navigatorService.mapFilteredList.length > 0; else noMaps">
                <ng-container *ngFor="let t of navigatorService.mapFilteredList">
                    <ng-container *ngIf="this.filterMap == 'id'">
                        <div cdkDrag [cdkDragData]="t" class="dragable"> {{t.id}} </div> <a style="display: table-cell;" [routerLink]="['/map', t.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterMap == 'name'">
                        <div cdkDrag [cdkDragData]="t" class="dragable"> {{t.name}} </div> <a style="display: table-cell;" [routerLink]="['/map', t.id]"> <mat-icon class="mat-icon-vis"> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noMaps>
                <ng-container *ngIf="filterControlMap.value == ''; else noMapsFiltered">No maps found</ng-container>
            </ng-template>
            <ng-template #noMapsFiltered>
                No maps found with {{ filterMap }}: {{ filterControlMap.value }}
            </ng-template>
            
        </div>
    </mat-tab>
</mat-tab-group>