<mat-tab-group style="min-width: 50px;" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Chunks" >
        <div style="display: table;">
            <input matInput [formControl]="filterControlChunk" style="display: table-cell;" [placeholder]="this.filterChunk"> <mat-label style="display: table-cell;"> Filter by: </mat-label> <mat-select style="display: table-cell; width: 10%;" [(value)]="filterChunk"> <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
        </div>
        <ng-container *ngIf="navigatorService.methodChunkFilteredList.length > 0; else noTools">
            <ng-container *ngFor="let mc of navigatorService.methodChunkFilteredList">
                <ng-container *ngIf="this.filterChunk == 'id'">
                    {{mc.id}} <a [routerLink]="['/method-chunk', mc.id]"> <mat-icon> visibility </mat-icon></a>
                </ng-container>
                <ng-container *ngIf="this.filterChunk == 'name'">
                    {{mc.name}} <a [routerLink]="['/method-chunk', mc.id]"> <mat-icon> visibility </mat-icon></a>
                </ng-container>
                <mat-divider></mat-divider>
            </ng-container>
        </ng-container>
        <ng-template #noChunks>
            No chunks found for {{ filterChunk }} {{ filterControlChunk.value }}
        </ng-template>
    </mat-tab>
    <mat-tab label="Tools">
        <div style="display: table;">
            <input matInput [formControl]="filterControlTool" style="display: table-cell;" [placeholder]="this.filterTool"> <mat-label style="display: table-cell;"> Filter by: </mat-label> <mat-select style="display: table-cell; width: 10%;" [(value)]="filterTool"> <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
        </div>
        <mat-divider></mat-divider>
        <div cdkDropList id="toolList" [cdkDropListData]="this.navigatorService.toolFilteredList" [cdkDropListConnectedTo]="['structList']">
            <ng-container *ngIf="navigatorService.toolFilteredList.length > 0; else noTools">
                <ng-container *ngFor="let t of navigatorService.toolFilteredList">
                    <ng-container *ngIf="this.filterTool == 'id'">
                        <div cdkDrag> {{t.id}} </div> <a [routerLink]="['/tool', t.id]"> <mat-icon> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterTool == 'name'">
                        <div cdkDrag> {{t.name}} </div> <a [routerLink]="['/tool', t.id]"> <mat-icon> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noTools>
                No tools found for {{ filterTool }} {{ filterControlTool.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Artefacts">
        <div style="display: table;">
            <input matInput [formControl]="filterControlArtefact" style="display: table-cell;" [placeholder]="this.filterArtefact"> <mat-label style="display: table-cell;"> Filter by: </mat-label> <mat-select style="display: table-cell; width: 10%;" [(value)]="filterArtefact"> <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
        </div>
        <mat-divider></mat-divider>
        <div cdkDropList #artefactList="cdkDropList" [cdkDropListData]="this.navigatorService.artefactFilteredList">
            <ng-container *ngIf="navigatorService.artefactFilteredList.length > 0; else noArtefacts">
                <ng-container *ngFor="let ar of navigatorService.artefactFilteredList">
                    <ng-container *ngIf="this.filterTool == 'id'">
                        <div [id]="ar.id" cdkDrag> {{ar.id}} </div> <a [routerLink]="['/artefact', ar.id]"> <mat-icon> visibility </mat-icon></a>
                    </ng-container>
                    <ng-container *ngIf="this.filterTool == 'name'">
                        <div [id]="ar.id" cdkDrag> {{ar.name}} </div> <a [routerLink]="['/artefact', ar.id]"> <mat-icon> visibility </mat-icon></a>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noArtefacts>
                No artefact found for {{ filterArtefact }} {{ filterControlArtefact.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Activities">
        <div style="display: table;">
            <input matInput [formControl]="filterControlActivity" style="display: table-cell;" [placeholder]="this.filterActivity"> <mat-label style="display: table-cell;"> Filter by: </mat-label> <mat-select style="display: table-cell; width: 10%;" [(value)]="filterActivity"> <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
        </div>
        <mat-divider></mat-divider>
        <div cdkDropList 
        #activityList="cdkDropList" 
        [cdkDropListData]="this.navigatorService.activityFilteredList" 
        [cdkDropListConnectedTo]="['structList']">
            <ng-container *ngIf="navigatorService.activityFilteredList.length > 0; else noActivities">
                <ng-container *ngFor="let ac of navigatorService.activityFilteredList">
                    <div cdkDrag [cdkDragData]="ac"> {{ac.name}} </div> <a [routerLink]="['/activity', ac.id]"> <mat-icon> visibility </mat-icon></a>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noActivities>
                No activity found for {{ filterActivity }} {{ filterControlActivity.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Roles">
        <div style="display: table;">
            <input matInput [formControl]="filterControlRole" style="display: table-cell;" [placeholder]="this.filterRole"> <mat-label style="display: table-cell;"> Filter by: </mat-label> <mat-select style="display: table-cell; width: 10%;" [(value)]="filterRole"> <mat-option value="id">id</mat-option> <mat-option value="name"> Name </mat-option> </mat-select>
        </div>
        <mat-divider></mat-divider>
        <div cdkDropList #roleList="cdkDropList" [cdkDropListData]="this.navigatorService.roleFilteredList">
            <ng-container *ngIf="navigatorService.roleFilteredList.length > 0; else noRoles">
                <ng-container *ngFor="let r of navigatorService.roleFilteredList">
                    <div cdkDrag> {{r.name}} </div> <a [routerLink]="['/role', r.id]"> <mat-icon> visibility </mat-icon></a>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
            <ng-template #noRoles>
                No role found for {{ filterRole }} {{ filterControlRole.value }}
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Criterions"></mat-tab>
</mat-tab-group>