<div style="text-align: center; margin: auto; height: fit-content;">
<a mat-button routerLink="/method-chunks"> Method chunk list</a>
<a mat-button routerLink="/method-chunk"> Add method chunk </a>
<a mat-button routerLink="/tools"> Tool list </a>
<a mat-button routerLink="/tool"> Add tool </a>
<a mat-button routerLink="/artefacts"> Artefact list </a>
<a mat-button routerLink="/artefact"> Add artefact </a>
<a mat-button routerLink="/activities"> Activity list </a>
<a mat-button routerLink="/activity"> Add activity </a>
<a mat-button routerLink="/roles"> Role list </a>
<a mat-button routerLink="/role"> Add role </a>
<a mat-button routerLink="/criterions"> Criterion list </a>
<a mat-button routerLink="/criterion"> Add criterion </a>
</div>